* {
    font-family: Verdana;
}

@font-face {
    font-family: 'collegiateHeavyOutline Medium';
    src: url('collegiateHeavyOutline Medium.ttf') format('truetype');
}

table thead {
    font-weight: bold;
    text-align:center
}

table tfoot td {
    text-align: center;
}

.container {
    text-align: center;
    width: 100%;
}

#results {
    border: 1px solid #CED2DB;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}


    #results thead td {
        font-family: collegiateHeavyOutline Medium;
        font-weight: normal;
        font-size: 40px;
        padding: 5px;
    }

        #results thead td.teamA {
            background-color: #00E600;
            color: white;
        }

        #results thead td.teamB {
            background-color: white;
            color: black;
        }


    #results tr:nth-child(even) {
        background: #F4F5F7;
    }

    #results tr:nth-child(odd) {
        background: #FFF;
    }

    #results tbody td {
        vertical-align: top;
        color: #314467;
        width: 50%;
        text-align: left;
        padding-left:10px;

    }

    #results tr td:first-child {
        border-right: 1px solid #CED2DB;
    }
